.card {
  background-color: beige;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2%;
  border-radius: 15px;
  padding: 2%;
}

.card_buttons {
}

.card_close {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: rgb(219, 58, 13);
  color: aliceblue;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card_close:hover {
  background-color: rgb(113, 33, 11);
}

.description {
  overflow-wrap: break-word;
}

.list_group {
  display: none;
}

@media screen and (min-width: 768px) {
  .list.phone {
    display: none;
  }

  .list_group {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .list_group .list {
    width: 32vw;
  }
}
