* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgColor: #f9f8f5;
  --borderLine: 2px solid var(--primaryColor);
  --grayColor: #5b5a59;

  --primaryColor: #ff9500;
  --primaryColorAccent: #ff6200;
  --terciaryColorSoft: #fcc778;
  --cardColor: #fcc77849; /*--terciaryColorSoft but 50% opacity*/

  --borderLine_button: 1px solid var(--headerBgColor);

  --paddingInline: 1rem;
  --paddingInlineCard: 0.5rem;
  /* Text Sizes*/
  --titleSize: 2rem;
  --subtitleSize: 1.4rem;
  --textSize: 0.9rem;
  --tinyText: 0.7rem;
}

/* GENERAL STYLES --------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
  background: none;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  letter-spacing: 0.04rem;
  font-weight: 700;
}

.button.primary {
  background: var(--primaryColorAccent);
  padding: 0.25rem 1rem;
  border: var(--borderLine_button);
  border-radius: 5px;
  color: var(--bgColor);
}

.button.secondary {
  background: none;
  color: var(--primaryColorAccent);
  padding: 0.25rem 1rem;
  border: var(--primaryColorAccent) solid 2px;
  border-radius: 5px;
}

.button.terciary {
  text-decoration: underline #000 1px;
  color: #000;
}

.error {
  border: red 2px solid;
}

.error-message {
  padding: 2px 4px;
  border-radius: 5px;
  color: red;
}

main {
  background-color: var(--bgColor);
}

/*   LOADING ANIMATION STYLE*/
.loadingScreen {
  background-color: rgba(0, 0, 0, 0.863);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingAnimationText {
  color: #fff;
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }
}

/* HEADER STYLES --------------------------------*/
header {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding-inline: var(--paddingInline);
  z-index: 100;
  position: relative;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -2px;
}

.logo.accent {
  font-size: 3rem;
  font-weight: 900;
}

.userName {
  position: relative;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
}

.triangle {
  transition: transform 0.5s ease-out;
}

.triangle.onScreen {
  transform: rotateX(180deg);
}

.userMenu {
  position: absolute;
  background-color: var(--terciaryColorSoft);
  width: 100vw;
  max-height: 0;
  left: 0;
  top: 100%;
  overflow: hidden;
  transition: 0.5s;

  font-size: var(--textSize);
  text-align: center;
  list-style: none;
}

.userMenu.onScreen {
  /* transform: translateY(0); */
  max-height: 100vh;
  transition: 0.5s;
}

.userMenu li {
  margin-block: 0.5rem;
}

/* TASKS SCREEN --------------------------------*/

.wrapper_list {
  padding-inline: var(--paddingInline);
  margin-block: 2vh;
}

.list_header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.list_header .filterBtn {
  position: absolute;
  display: flex;
  right: 0;
  font-size: var(--tinyText);
  font-weight: lighter;
  color: var(--grayColor);
  text-decoration-color: var(--grayColor);
  gap: 0.1rem;
  align-self: flex-end;
}

.filterBtn .triangle {
  align-self: center;
}

.filters {
  max-height: 0;
  overflow: hidden;
}

.filterContainer {
  border: var(--borderLine);
  margin-block: var(--paddingInline);
  position: relative;
}

.filterContainer label {
  background-color: var(--bgColor);
  padding-left: var(--paddingInlineCard);
  font-size: var(--tinyText);
}

.filterContainer select {
  background-color: green;
}
.filters.onScreen {
  max-height: 100%;
}

.filters input,
.filters select {
  width: 100%;
  background: none;
  margin-block: 0.25rem;
  padding-inline: var(--paddingInlineCard);
  border-radius: 8px;
  border: none;
}

.formControl {
  display: flex;
  width: 100%;
}
.radio-container {
  display: flex;
  justify-content: space-around;
}

/* FORM FOR NEW TASK*/

.newTask {
  width: 40vw;
  margin-inline: 30vw;
  margin-block: 2vh;
}

.newTask.onScreen {
  opacity: 0;
  position: absolute;
}

.create_Task {
  position: relative;
}

.create_Task .title_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
}

.create_Task .title_form h3 {
  margin-inline: auto;
  justify-self: center;
}

.title_form .close_Form {
  align-items: center;
  cursor: pointer;
}

.form.create_Task {
  gap: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.form.create_Task.onScreen {
  max-height: fit-content;
  margin-top: 2vh;
  transition: max-height 0.5s;
}

.inputs-container_div {
  margin-block: 0.2rem;
  display: flex;
  flex-direction: column;
}

.inputs-container_div input,
.inputs-container_div select,
.inputs-container_div textarea {
  width: 90vw;
  background: none;
  padding-inline: var(--paddingInlineCard);
  border-radius: 8px;
  border: none;
}

.inputs-container_div textarea {
  height: 15vw;
}

.create_Task .button {
  width: 90vw;
  margin-block: 0.5rem;
  padding-block: 0.5rem;
}

/* TASK STYLES*/
.card {
  background-color: var(--cardColor);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  border-radius: 15px;
  padding: var(--paddingInlineCard);
  margin-block: 0.5rem;
}

.card .title {
  font-size: var(--subtitleSize);
}

.card .description {
  overflow-wrap: break-word;
  font-size: var(--textSize);
}

.card .moreInfo {
  display: flex;
  justify-content: space-between;

  border-top: solid var(--grayColor) 1px;
  margin-block: 0.5rem;
  padding-top: 0.25rem;
}

.card .date {
  font-size: var(--tinyText);
  color: var(--grayColor);
}

.card .userName {
  font-size: var(--tinyText);
}

.card_buttons {
  display: flex;
  gap: 2%;
}

.card_close {
  position: absolute;
  right: var(--paddingInlineCard);
  top: var(--paddingInlineCard);
  background-color: rgb(255, 55, 0);
  color: var(--bgColor);
  border-radius: 5px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card_close:hover {
  background-color: rgb(113, 33, 11);
}

.list_group {
  display: none;
}

/* BUTTONS of CARD = DINAMIC */

.card_buttons .button {
  color: BLACK;
  font-size: var(--tinyText);
}
.button.HIGH {
  background-color: red;
}
.button.MEDIUM {
  background-color: yellow;
}

.button.LOW {
  background-color: greenyellow;
}

.button.NEW {
  background-color: red;
}

.button.PROGRESS {
  background-color: yellow;
}

.button.FINISHED {
  background-color: greenyellow;
}

.skeleton {
  /* margin: 2px; */
}

/* FORM GENERAL STYLES  --------------------------------*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-inline: var(--paddingInline); */
}

.errorPage {
  color: red;
}

.form button {
  width: 90vw;
  margin-top: 4%;
}

/* LOGIN  --------------------------------*/

.initSection {
  height: 100vh;
  width: 100vw;
  background-color: var(--bgColor);
  padding-inline: var(--paddingInline);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form.login {
  /* display: flex;
  flex-direction: column; */
}

@media screen and (max-width: 360px) {
  /*POCKET CELLPHONE - menos de 360px*/
}

@media screen and (min-width: 768px) {
  :root {
    /* Text Sizes*/
    --titleSize: 2rem;
    --subtitleSize: 1.3rem;
    --textSize: 0.8rem;
    --tinyText: 0.6rem;
  }

  /*TABLET a partir de 769px*/
  .list.phone {
    display: none;
  }

  .list_group {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 1rem;
  }

  .list_group .list {
    width: 30vw;
  }

  .list_desk h3 {
    text-align: center;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--paddingInlineCard);
  }
  .filters .search {
    width: 80vw;
  }

  .formControl {
    display: flex;
    width: 100%;
  }
  .radio-container {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1025px) {
  /*DESKTOP a partir de 1025px*/

  main {
    display: flex;
    flex-direction: row;
  }

  .newTaskSection {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-right: var(--borderLine);
  }
  /* Button hidden and form onScreen ***************************/
  .newTaskSection .button {
    /* Button hidden and form onScreen */
    align-self: center;
    opacity: 0;
    pointer-events: none;
  }

  .newTaskSection .close_Form {
    opacity: 0;
    pointer-events: none;
  }
  .form.create_Task {
    /* Button hidden and form onScreen */
    max-height: fit-content;
  }
  /* ***************** */
  .newTask {
    width: 15vw;
    margin: 0;
    margin-block: 2vh;
    padding: 0;
  }

  .create_Task {
    position: relative;
    padding-inline: var(--paddingInlineCard);
  }

  .create_Task .title_form {
    width: 100%;
  }

  .create_Task .inputs-container {
    width: 100%;
  }

  .create_Task .inputs-container_div input,
  .create_Task .inputs-container_div select,
  .create_Task .inputs-container_div textarea {
    width: 100%;
  }
  .create_Task .inputs-container_div textarea {
    height: 20vh;
  }

  .create_Task .button {
    width: 100%;
  }
  .wrapper_list {
    width: 75vw;
  }

  .list_group {
    justify-content: space-evenly;
    position: relative;
  }
  .list_group .list {
    width: 23vw;
    /* margin: 0; */
  }

  .filters .search {
    width: 100%;
  }

  .card {
    /* background-color: #000; */
    margin: var(--paddingInlineCard);
  }
}
